<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn">
    <appenders>
        <RollingFile name="MyLogs" fileName="logs/app.log" append="true" filePattern="logs/%i.log">
            <PatternLayout>
                <pattern>%d %c [%t] %p %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="15 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="warn">
            <appender-ref ref="MyLogs"/>
        </root>
    </loggers>
</configuration>